<html>
<head>
	<title>	KINHSONG </title>
	<meta charset="utf-8">
</head>
<div align="right">

<a href="home">home</a>
<a href="kingsong1">kingsong1</a>
<a href="kingsong2">kingsong2</a>
<a href="kingsong3">kingsong3</a>
</div>
<center>
	<h1>เพลงของพ่อ</h1>
</center>	


<center>
	<img src="home.jpg" alt="Mountain View" style="width:400px;height:266px;">
</center>

<center><a href="http://www.photoontour.com/SpecialPhotos_HTML/60thcelebration/king_data5.htm">รวมเพลง</a></center>
	

</html>
