<html>
<head>
	<title>	KINHSONG2 </title>
	<meta charset="utf-8">
</head>
<div align="right">

<a href="home">home</a>
<a href="kingsong1">kingsong1</a>
<a href="kingsong2">kingsong2</a>
<a href="kingsong3">kingsong3</a>
</div>
<center>
	<h1>เพลงใกล้รุ่ง</h1>
</center>	




<center>
	<img src="king2.jpg" alt="Mountain View" style="width:450px;height:487px;">
</center>

	
<center><a href="https://www.youtube.com/watch?v=dX5XAS6gSKo">ฟังเพลงใกล้รุ่ง</a></center>
</html>